/* Error: Undefined variable.
 *    ,
 * 25 |     background-color: $color-white;
 *    |                       ^^^^^^^^^^^^
 *    '
 *   sass/utilities/_mixin.scss 25:23  rounded-container()
 *   sass/pages/_home.scss 8:5         @use
 *   sass/style.scss 4:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502      background-color: $color-white;\a    \2502                        ^^^^^^^^^^^^\a    \2575 \a   sass/utilities/_mixin.scss 25:23  rounded-container()\a   sass/pages/_home.scss 8:5         @use\a   sass/style.scss 4:1               root stylesheet";
}
