@use "../utilities/variables" as *;
@use "../utilities/variables" as *;

footer {
    text-align: center;
    color: $color-background;


    p {
        margin-top: 3rem;
        color: $color-primario;
    }
}