@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.image-gallery {
    @include grid-column;
    
    
    .item:nth-child(3) {
    grid-column: 1 / span 2;
    justify-self: center;
    }
    
    
    img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @include rounded($radius-round);
    @include block-center;
    }
    
    
    h3 {
    margin-bottom: 10px;
    color: $color-primario;
    }
    }