@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
    
    
    .item:nth-child(3) {
    grid-column: 1 / span 2;
    justify-self: center;
    }
    
    
    img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @include rounded($radius-round);
    @include block-center;
    }
    
    
    h3 {
    margin-bottom: 10px;
    color: $color-primary;
    }
    }