@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

//MQ Desktop
@media screen and (min-width: 1024px) {
    .navbar-nav {
        @include flex-center;
        justify-content: end;
    }


    .navbar-brand-img {
        margin-right: 1.5rem;
    }
    .image-gallery img {
        width: 300px;
        height: 150px;
        object-fit: cover;
        @include rounded(45px);

    }
}

//MQ Tablet
@media (min-width: 768px) {
    #search-recetas {
        flex-direction: column;

        input[type="search"] {
            width: 100%;
        }
    }


    .main.recetas {
        @include grid-column;
        display: flex;
        text-align: left;
        padding: 2rem 1rem;
        gap: 1.3rem;
        background-color: $color-texto-bg;
        @include rounded($radius-large);
        margin: 1rem;
    }

    .recetas {
        @include flip-columns;
        gap: 2rem;

        .recetas-ingredientes {
            width: 350px;
        }

        // .recetas-preparacion {
        //     width: 100%;
        // }

    }


    


    .image-gallery {
        grid-template-columns: repeat(3, 1fr);


        .item:nth-child(3) {
            grid-column: auto;
        }
    }
}