//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* mq-tablet */
@media screen and (min-width: 1024px) {
    .navbar-nav {
        @include flex-center;
        justify-content: end;
    }


    .navbar-brand-img {
        margin-right: 1.5rem;
    }
}


@media (min-width: 768px) {
    #search-recetas {
        flex-direction: column;


        input[type="search"] {
            width: 100%;
        }
    }


    .recetas-ingredientes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 4rem;
    }


    .image-gallery {
        grid-template-columns: repeat(3, 1fr);


        .item:nth-child(3) {
            grid-column: auto;
        }
    }
}