@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    
@mixin block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    
    
@mixin rounded($radius) {
    border-radius: $radius;
    }