/* Colores */
$color-background: #f7e8cf;
$color-primary: #48341a;
$color-secondary: #d15926;
$color-white: #ffffff;
$color-gray: #ccc;

/* redondeados */
$radius-main: 25px;
$radius-small: 10px;
$radius-round: 50%;

/* Fuentes */
$font-main: "Roboto", sans-serif;

/* resoluciones */
$bp-tablet: 768px;
$bp-desktop: 1024px;

/* Sombras */
$shadow-card: 0 2px 8px rgba(0, 0, 0, 0.15);