/* Colores */
$color-background: #f7e8cf;
$color-primary: #48341a;
$color-accent: #d15926;
$white: #ffffff;
$radius-large: 25px;
$radius-medium: 12px;
$radius-round: 50%;

/* redondeados */
$radius-large: 25px;
$radius-medium: 12px;
$radius-round: 50%;
/* Fuentes */
$font-main: "Roboto", sans-serif;

/* Sombras */
$shadow-card: 0 2px 8px rgba(0, 0, 0, 0.15);