/* Colores */
$color-background: #f7e8cf;
$color-primario: #48341a;
$color-texto: #d15926;
$color-texto-bg: #ffffff;

/* Spacings */
$padding-text-bg: 2rem 1rem;
$gap-contenedores: 1.3rem;

/* redondeados */
$radius-large: 25px;
$radius-medium: 12px;
$radius-round: 50%;
/* Fuentes */
$font-main: "Roboto", sans-serif;

/* Sombras */
$shadow-card: 0 2px 8px rgba(0, 0, 0, 0.15);