/* variables*/
@use "../utilities/variables" as *;


/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Tipografia */  

body {
    background-color: $color-background;
    font-family: $font-main;
  }
  
  h1, h2, h3 {
    color: $color-primary;
  }
  
  a {
    text-decoration: none;
    color: $color-primary;
  }
  