//Variables
@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

/* estilos de main*/
main {
    @include rounded-container;
    margin-top: 8rem;
    text-align: center;
    @include flex-center;
    flex-direction: column;
    gap: 1.3rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 1.3rem;
        border-radius: 45px;
    }

    p {
        color: $color-secondary;
        font-weight: 450;
        letter-spacing: 5px;
        line-height: 25px;
        padding: 0 1.5rem;
    }
}

/* estilos de section */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 1rem;

    .item:nth-child(3) {
        grid-column: 1 / span 2;
        justify-self: center;
    }

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: $radius-round;
        display: block;
        margin: 0 auto;
    }

    h3 {
        margin-bottom: 10px;
        color: #333;
    }

}