@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

//Estilos de Main
main {
    margin-top: 8rem;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
    gap: 1.3rem;
    background-color: $color-texto-bg;
    @include rounded($radius-large);
    margin: 0.5rem 1rem;


    p {
        color: $color-texto;
        font-weight: 450;
        letter-spacing: 5px;
        line-height: 25px;
        padding: 0 1.5rem;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 1.3rem;
        @include rounded(45px);
    }
}