@use "../utilities/variables" as *;
//Mixin
@use "../utilities/mixin" as *;

main.recetas,
section.recetas {
  @include flex-center;
  flex-direction: column;
  text-align: left;
  padding: 2rem 1rem;
  gap: 1.3rem;
  background-color: $color-texto-bg;
  @include rounded($radius-large);
  margin: 1rem;

  img {
    width: 100%;
    max-width: 300px;
    @include rounded($radius-medium);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: 0.4rem;
  }

  h2 {
    color: $color-primario;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: circle;
    padding-left: 20px;
  }

  li {
    color: $color-texto;
    margin-bottom: 5px;
  }

  h3 {
    margin-top: 10px;
    color: #444;
    font-weight: 600;
  }

  ol {
    padding-left: 20px;

    li {
      margin-bottom: 15px;
    }
  }
}

#search-recetas {
  @include flex-center;
  gap: 10px;
  margin-bottom: 20px;

  input[type="search"] {
    flex: 1;
    padding: 10px 15px;
    @include rounded(20px);
    border: 1px solid #ccc;
  }
}

.dietas {
  text-align: center;
  margin-bottom: 20px;

  label {
    margin-right: 10px;
    font-weight: 500;
  }

  select {
    padding: 8px 12px;
    @include rounded(10px);
    border: 1px solid #ccc;
    background-color: #fefefe;
  }
}